.sport {
    padding: 140px 50px 63px 50px;
    &-top {
        margin-bottom: 30px;
        // position: fixed;
        // background: whitesmoke;
        // width: 100%;
        // z-index: 1000;
        // top: 118px;
        // padding-block: 30px 5px;
        // left: 0;
        // padding-left: 50px;
    }
    &-loc {
        color: #767676;
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }
    &-titles {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-bottom: 13px;
    }
    &-title {
        color: #3C3C3C;
        font-size: 26px;
        font-weight: 600;
        line-height: normal;
    }
    &-text {
        color: #797979;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }
    &-btn__list {
        color: #000;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
    }

    &-menu {
        max-width: 208px;
        min-width: 208px;
        // margin-top: 165px;
        // height: 100vh;
        // overflow-y: scroll;
        // position: fixed;
        // top: 120px;
        // background: whitesmoke;
        // padding-top: 30px;
        // z-index: 1000;
    }
    &-main {
        padding: 0 50px;
        display: flex;
        gap: 11px;
        flex-wrap: wrap;
    }
    &-img {
        margin: 0 auto;
        width: 150px;
        height: 90px;
        margin-block: 40px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-link:hover {
        color: #000;
    }
    &-card {
        background: #FFF;
        padding: 14px 19px;
        border-radius: 10px;
        &__title {
            max-width: 190px;
            font-size: 14px;
            font-weight: 600;
            line-height: normal;
            margin-block: 20px 8px;
        }
    }
    &-price {
        margin-bottom: 26px;
    }
    &-btn {
        margin-bottom: 54px;
    }
}

.sport-menu__order {
    margin-bottom: 15px;
}

.order {
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    &-title {
        color: #000;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
    }
    &-period__list {
        display: flex;
        flex-direction: column;
        gap: 5px;

    }
}

.sport-menu__brend {
    margin-bottom: 15px;
}

.menu-brend__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.brend-link {
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
    margin-top: 12px;
}

.sport-menu__size {
    margin-bottom: 15px;
}

.menu-size__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sport-menu__color {
    margin-bottom: 15px;
}

.menu-color__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.w {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.pink {
    background: pink;
}

.aqua {
    background: aqua;
}

.black {
    background: black;
}

.orange {
    background: orange;
}

.purple {
    background: purple;
}

.dark-green {
    background: darkgreen;
}

.price-slider {
    margin-bottom: 10px;
}

.price-btns {
    display: flex;
    gap: 3px;
}